/*navbar*/

.navbar{
    background-color: #2b76a7;
    color: #FFF;
    padding: 2px 80px;
    box-shadow: 0 0 5px black;
}
.navbar a{
    color: #FFF;
}
.navbar-nav{
    margin-left: auto;
}
.icon{
    width: 53px;
}

/*landing page*/

.header{
    overflow: hidden;
    max-height: calc(100vh - 70px);
}
.text-center-vertical-box{
    margin-top: calc(50vh - 40px);
    transform: translateY(-50%);
    padding-left: 90px;
    color: #2b76a7;
        text-shadow: 0 0 5px #afafaf;
}
.logo-1{
    font-size: 70px;
    line-height: 25px;
}
.logo-2{
    font-size: 95px;
    line-height: 120px;   
}
.mtd{
    font-size: 28px;
    margin-bottom: 10px;
}
.header img{
    height: 80vh;
    margin-top: 100vh;
    transform: translateY(-110%);
}
.button-1{
    border: 4px solid #2b76a7;
    color:#2b76a7;
    background-color: #FFF;
    box-shadow: 0 0 5px #afafaf;
    text-shadow: 0 0 5px #afafaf;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 28px;
    text-align: center;
    margin-right: 15px;
}
.button-2{  
    border: 4px solid #E5564F;
    color:#FFF;
    background-color: #E5564F;
    box-shadow: 0 0 5px #CCCCCC;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 28px;
    text-align: center;
}

/* Admin bar */

.adminbar{
    background-color: #141414;
    color: #FFFFFF;
    padding: 2px 10px;
}
.adminbar a{
    color: #FFFFFF;
}
.adminbar-left{
    float: left
}
.adminbar-right{
    float: right;
}
/* Gallery */
.gallery{
    padding: 30px 0px;
}
.gallery-image{
    width: 100%;
    height: 350px;
    object-fit: cover
}

@media only screen and (max-width: 1199px){
    .gallery-image{
        height: 290px;
    }
}
@media only screen and (max-width: 991px){
    .gallery-image{
        height: 330px;
    }
}
@media only screen and (max-width: 991px){
    .gallery-image{
        height: 330px;
    }
}
@media only screen and (max-width: 767px){
    .gallery-image{
        height: 510px;
    }
}
@media only screen and (max-width: 500px){
    .gallery-image{
        height: 480px;
    }
}
@media only screen and (max-width: 400px){
    .gallery-image{
        height: 345px;
    }
}

/* Forms */

.form{
    background-color: #FFF;
    padding: 30px 20px 45px 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    text-align: center;
    position: relative;
    top: 50vh;
    transform: translateY(-75%);
}
.form input{
    width: 100%;
    border: 0px;
    background-color: #FFF;
    border-radius: 0px;
    border-bottom: 3px solid #6b107d;
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    outline: none;
}

.form input[type=submit]{
    border: 0px;
    background-color: #6b107d;
    color: #FFF;
}
.form2 input{
    width: 100%;
    border: 0px;
    background-color: #FFF;
    border-radius: 0px;
    border-bottom: 3px solid #6b107d;
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    outline: none;
}

.form2 input[type=submit]{
    border: 0px;
    background-color: #6b107d;
    color: #FFF;
}