@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*navbar*/
.navbar{
    background-color: #FFFFFF;
    color: #181818;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 2px 80px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25)
}
.navbar a{
    color: #181818;
}
.navbar-nav{
    margin-left: auto;
}
.icon{
    width: 53px;
}
.navbar-toggler{
    font-size: 32px;
    color: #181818;
    margin: 0px;
    padding: 0px;
}

.path{
    padding: 10px;
    display: block;
    
    font-size: 18px;
    font-weight: 500;
}
.path a{
    color: #203570;
}

/*landing page*/
.header{
    width: 100%;
    height: 60vh;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: cover;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.header .container{
    position: relative;
}
.header-inside{
    color: #e7f4ff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation-name: inLoad;
    animation-duration: 2s;
}
.header h1{
    font-size: 4.5rem;
    margin-bottom: -5px;
}
.header h2{
    font-size: 2.0rem;
}
.headerImg{
    width: 100%;
    margin-top: 20vh;
}
.main-cards{
    text-align: center;
    color: #FFFFFF;
    margin-top: -15vh;
    font-size: 20px;
}
.main-cards .card{
    border-radius: 0px;
    border: 0px;
}
.main-cards .card-header{
    border-radius: 0px;
    border: 0px;
    padding: 18px 0px;
}
.main-cards .card-one .card-header{
    background-color: #F0A951;
}
.main-cards .card-two .card-header{
    background-color: #25BDA7;
}
.main-cards .card-three .card-header{
    background-color: #B046C5;
}
.main-cards .card-body{
    padding: 0px;
}
.main-cards img{
    width: 100%;
}
.main-cards .card:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.new-images{
    background-color: #E9E9E9;
    margin-top: 20vh;
    padding: 25px;
}
.new-images h2{
    color: #282828;
    font-weight: 400;
}
.new-images a h4{
    color: #282828;
    padding: 15px 0 0 0;
    font-size: 24px;
}
.new-images a{
    color: #7A7A7A;
    text-decoration: none;
}
.new-images hr{
    border-top: 2px solid #25BDA7;
}
.new-images .card{
    border: 0px;
    border-radius: 0px;
    padding: 36px 36px 10px 36px;
}
.new-images .image{
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}
.new-images .image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.new-images .card p{
    min-height: 48px;
}
.new-images .card hr{
    border-top: 1px solid #7A7A7A;
}
.new-images .card h5{
    color: #25BDA7;
    font-size: 24px;
}

@keyframes inLoad{
    from {
        opacity: 0;
        transform: translateY(-75%);
    }
    to{
        opacity: 1;
        transform: translateY(-50%);
    }
}
/* Admin bar */

.adminbar{
    background-color: #141414;
    color: #FFFFFF;
    padding: 2px 10px;
}
.adminbar a{
    color: #FFFFFF;
}
.adminbar-left{
    float: left
}
.adminbar-right{
    float: right;
}
/* Gallery */
.gallery{
    padding: 30px 0px;
}
.galleryItemBox h5{
    margin-top: 10px;
    margin-bottom: 0px;
    border: 2px solid #444444;
    padding: 10px 0px;
}
.gallery-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
    
}
.galleryItemBox{
    padding: 10px;
    border: 3px solid #E5E5E5;
}
.galleryItemBox a{
    text-align: center;
    color: #444444
}
/* Art Page*/
.artPage{
    padding: 30px 0;
}
.imageContainer{
    position: relative;
    width: 100%;
    border: 4px solid #F8F9FA;
    
}
.imageContainer:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    
  }
.paddingBox{
    padding: 20px 10px;
}
.artImage{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    padding: 5px;
}
.contactButton{
    text-decoration: none;
    
    background-color: #444444;
    width: 80%;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    color: #FFF !important;
}
.contactButton:hover{
    cursor: pointer;
}
.contact{
    width: 80%;
    text-align: center;
    line-height: 2em;
    margin-top: 10px;
}
.artPrice{
    font-size: 28px;
}

@media only screen and (max-width: 991px){
    .main-cards .card{
        margin-top: 15px;
    }
    .main-cards .card-body{
        display: none;
    }
}

/*Admin Board*/
.artItem{
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #a1a1a1;
    margin: 10px 0px;
    font-size: 22px;
}
.artItem img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.editButton{
    display: block;
    color: #FFFFFF;
    background-color: #2b76a7;
    padding: 13px 16px;
    

}
.squere{
    width: 100%;
    padding: 10px;
    background-color: #FFF;
    margin-top: 10px;
    border: 1px solid #a1a1a1;
    text-align: center;
    margin-left: -15px;
}
.squere2{
    width: 100%;
    padding: 10px;
    background-color: #FFF;
    margin-top: 10px;
    border: 1px solid #a1a1a1;
    text-align: center;
}
.squere a{
    color: #FFF;
    font-weight: 400;
    display: block;
    padding: 14px;
    width: 100%;
    background-color: #55868C;
    text-decoration: none;
    margin-top: 15px;
    
}
.squere a:hover{
    cursor: pointer;
    color: #FFF;
}
.artCounter{
    font-size: 60px;
}
.editButton:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.deleteButton{
    display: block;
    background-color: #C62828;
    padding: 13px 18px;
    color: #FFF;
    text-decoration: none;
}
.artItem .editButton{
    float: right;
    font-size: 16px;
    margin: 0px;
    margin-right: 10px;
}

.deleteButton:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.artItem .deleteButton{
    float: right;
    font-size: 16px;
}
.adminContainer{
    overflow: scroll;
    height: calc(100vh - 28px);
}

/*admin sidebar*/
.sidebar{
    height: calc(100vh - 28px);
    background-color: #55868C;
}
.adminSideBar .nav-link{
    font-size: 20px;
    margin-bottom: 10px;
}
.adminSideBar .nav-link:hover{
    background-color: #43676b;
}
.adminSideBar h3{
    text-align: center;
    padding: 10px 0px 30px 0px;
    border-bottom: 2px solid #43676b;
} 
/*upload form*/
.uploadForm input[type=file]{
    display: none;
}
.uploadPlace{
    width: 80%;
    padding: 10px;
    background-color: #F8F9FA;
    float: left;
    margin: 0px;
}
.uploadForm input[type=submit]{
    width: 20%;
    border: 0px;
    padding: 10px;
    background-color: #55868C;
    color: #FFFFFF;
}
/*admin library*/
.libItemBox{
    width: 100%;
    position: relative;
    margin-top: 10px;
}
.libItemBox:after {
	content: "";
	display: block;
	padding-top: 100%;
}
.libItemBox img{
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
       
}





/* Forms */

.form{
    background-color: #FFF;
    padding: 30px 20px 45px 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    text-align: center;
    position: relative;
}
.form-center{
    top: 50vh;
    transform: translateY(-75%);
}
.form input{
    width: 100%;
    border: 0px;
    background-color: #FFF;
    border-radius: 0px;
    border: 3px solid #444444;
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    outline: none;
}

.form input[type=submit]{
    border: 0px;
    background-color: #444444;
    color: #FFF;
}
.form2 input{
    width: 100%;
    border: 0px;
    background-color: #FFF;
    border-radius: 0px;
    border: 3px solid #444444;
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    outline: none;
}

.form2 input[type=submit]{
    border: 0px;
    background-color: #444444;
    color: #FFF;
}
textarea{
        width: 100%;
        height: 300px;
        border: 0px;
        background-color: #FFF;
        border-radius: 0px;
        border: 3px solid #444444;
        padding: 5px;
        font-size: 20px;
        margin-top: 20px;
        outline: none;
}
select{
    width: 100%;
    border: 0px;
    background-color: #FFF;
    border-radius: 0px;
    border: 3px solid #444444;
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    outline: none;
}

.checkBoxHidden:hover > .imageBackLight{
    border: 2px solid blue;
}
/*footer*/
.footer{
    width: 100%;
    color: #FFFFFF;
}
.footer .socialmedia{
    width: 100%;
    padding: 0px 25px;
    background-color: #25BDA7;
    color: #FFF;
    font-size: 20px;
}
.footer .socialmedia span{
    display: block;
    float: left;
    padding: 15px 0;
}
.footer .socialmedia .wrapper{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}
.footer .socialmedia a{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    margin: auto;

}
.footer .socialmedia .wrapper:hover{
    background-color: #198070;
}
.footer .middle{
    background-color: #1C2431;
    padding: 30px;
}
.footer .middle .wrapper{
    padding: 20px 50px;
}
.footer .middle .wrapper h3{
    text-transform: uppercase;
    letter-spacing: .1em;
}
.footer .middle .wrapper h3::after{
    content: '';
    display: block;
    width: 30%;
    height: 2px;
    background-color: #25BDA7;
    margin-bottom: 20px;
}
.footer .middle .wrapper span{
    text-align: justify;
    
}
.footer .end{
    background-color: #151B29;
    text-align: center;
    padding: 5px;
}

/*Pop up*/
.popup{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.popup-box{
    padding: 20px;
    background-color: #FFFFFF;
    text-align: center;
    margin: auto;
    width: 500px;
    margin-top: 50vh;
    transform: translateY(-50%);
    
}
.popup-box img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@media only screen and (max-width: 1199px){
    .gallery-image{
        height: 290px;
    }
}
@media only screen and (max-width: 991px){
    .gallery-image{
        height: 330px;
    }
    
}
@media only screen and (max-width: 991px){
    .gallery-image{
        height: 330px;
    }
    .navbar{
        padding: 2px 10px;
    }

    
    
}
@media only screen and (max-width: 767px){
    .gallery-image{
        height: 510px;
    }
    .headerImageBox{
       display: none;
    }
    .headerTextBox{
        text-align: center;
    }
    .headerText{
        margin-top: 15px;
    }
    .headerButton{
        margin: auto;
    }
    .header{
        min-height: 450px;
    }
    
}
@media only screen and (max-width: 500px){
    .gallery-image{
        height: 480px;
    }
    
}
@media only screen and (max-width: 400px){
    
    .gallery-image{
        height: 345px;
    }
}
@media only screen and (max-height: 780px){ 
    .headerImg{
        margin-top: 10vh;
    } 
}
@media only screen and (max-height: 520px) and (min-width: 991px){
    .headerImg{
        margin-top: 0px;
    }
}
/*other*/
.padding-0{
    padding-right:0;
    padding-left:0;
}
